footer {
	.content-footer {
		//background: linear-gradient(to right, $corporative-color-1, $corporative-color-2);
		border-top: $box-borders;
		background: $box-background-light;
		padding: 50px 0;
		.container-footer {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 15px;
			.item-footer {
				h3 {
					margin: 0 0 15px 0;
					color: $text-light;
				}
				p {
					a.btn {
						margin-top: 0;
					}
				}
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						a {
							color: $text;
						}
					}
				}
			}
		}
		.container-footer-bottom {
			margin-top: 35px;
			grid-template-columns: 1fr;
			.item-footer-rrss {
				display: flex;
				align-items: center;
				ul {
					display: flex;
					align-items: center;
					gap: 15px;
					li {
						p {
							margin: 0;
							a {
								font-style: normal;
								font-weight: 400;
								color: $corporative-color-1;
								transition: all .3s ease;
								width: 32px;
								height: 32px;
								border: $border-size solid $corporative-color-1;
								border-radius: $radius-circle;
								display: flex;
								align-items: center;
								justify-content: center;
							}
							a:hover {
								background-color: $corporative-color-1;
								color: #FAFAFA;
							}						
						}
					}
				}
			}
			.item-footer-logo-derechos {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 15px;
				img {
					width: 150px;
				}
				p {
					margin: 0;
					color: $text-light;
				}
			}
		}
	}
}

@media (min-width: $sm) {

}
@media (min-width: $md) {

}
@media (min-width: $lg) {
	footer {
		.content-footer {
			padding: 100px 0;
			.container-footer {
				grid-template-columns: 1fr 0.5fr 0.5fr;
				grid-gap: 25px;
				.item-footer {
					h3 {
						margin: 0 0 50px 0;
					}
					ul {
						li {
							a {
							}
						}
					}
				}
			}
			.container-footer-bottom {
				margin-top: 90px;
				grid-template-columns: 1fr 1fr;
				.item-footer-rrss {
					ul {
						li {
							a {
							}
							a:hover {
							}						
						}
					}
				}
				.item-footer-logo-derechos {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					gap: 15px;
					img {
						width: 200px;
					}
					p {
					}
				}
			}
		}
	}
}
@media (min-width: $xl) {

}
@media (min-width: $xxl) {

}
@media (min-width: $xxxl) {

}