header.content-header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1003;
    height: $header-height;
    border-bottom: $box-borders;
    background: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 15px;
    .content-header-logo {
    	.container-header-logo {
    		img {
    			height: 40px;
    			max-height: 75px;
    		}
    		h1 {
    			font-size: 24px;
    			line-height: 0.6;
    			a {
    				color: $corporative-color-1;
    			}
    			span {
    				color: $text;
    				font-size: 12px;
    			}
    		}
    	}
    }
    #navigation {
    	display: none;
		nav {
			ul {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 35px;
				li {
					list-style: none;
					p {
						margin: 0;
						a {
							text-decoration: none;
							color: $body-font-color;
							transition: .3s ease all;
						}
						a:hover {
							color: $corporative-color-2;
							text-decoration: none;
						}
					}
				}
			}
		}
    }
    #mobile-header {
    	p {
    		margin: 0;
    	}
    }
}
@media (min-width: $sm) {}
@media (min-width: $md) {}
@media (min-width: $lg) {
	header.content-header {
		justify-content: flex-start;
		padding: 0 60px;
	    .content-header-logo {
	    	.container-header-logo {
	    		img {
	    		}
	    		h1 {
					font-size: 32px;
	    			a {
	    			}
	    			span {
	    				font-size: 12px;
	    			}
	    		}
	    	}
	    }
	    #navigation {
	    	width: 100%;
	    	display: block;
			nav {
				ul {
					li {
						p {
							a {
							}
							a:hover {
							}
						}
					}
					li:last-child { margin-left: auto; }
					li:last-child a { color: $corporative-color-1; margin-top: 0; }
					li:last-child a:hover { color: #FAFAFA; }
				}
			}
	    }
	    #mobile-header {
	        display: none;
	    }
	}
}
@media (min-width: $xl) {}
@media (min-width: $xxl) {}
@media (min-width: $xxxl) {
	header.content-header {
		justify-content: flex-start;
		padding: 0 60px;
	    .content-header-logo {
	    	.container-header-logo {
	    		img {
	    		}
	    		h1 {
					font-size: 36px;
	    			a {
	    			}
	    			span {
	    				font-size: 13px;
	    			}
	    		}
	    	}
	    }
	    #navigation {
	    	display: block;
			nav {
				ul {
					li {
						p {
							a {
							}
							a:hover {
							}
						}
					}
				}
			}
	    }
	    #mobile-header {
	        display: none;
	    }
	}
}
@media (min-width: $fhd) {}
@media (min-width: $twok) {}