//////////////////
// GENERAL //
/////////////////
::selection {
    background: $corporative-color-2;
    color: white;
}
* { 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling:touch;
	&:focus { 
		outline:none; 
	}
}
html { 
	box-sizing: border-box; 
	scroll-behavior: smooth; 
}
body { 
	font-family: $body-font-family; 
	margin: 0; 
	color: $body-font-color; 
}
a {
	color: $corporative-color-2;
}
a, a:hover { 
	text-decoration:none; 
}
img { 
	max-width:100%; 
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: $text-line-height;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	strong, b {
		font-weight: $text-weight-strong;
		color: $text;
	}
}

ul, ol, dl {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: $text-line-height;
}
main.page-content {
	padding-top: $header-height;
}
.title-dot {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 12px;
    margin: 0;
}
.title-dot:before {
	content: "";
	background-color: $corporative-color-2;
	width: 8px;
	height: 8px;
	border-radius: $radius-circle;
	display: block;
}
a.btn {
	padding: 8px 16px;
	border: $border-size solid $corporative-color-1-light;
	border-radius: $radius;
	color: #ffffff;
	background-color: $corporative-color-1-light;
	font-size: $fsize-p-xsm;
	transition: all .3s ease;
	display: inline-block;
	margin-top: 16px;
}
a.btn:hover {
	border: $border-size solid $corporative-color-1;
	background: $corporative-color-1;
	color: #FAFAFA;
	transition: all .3s ease;
	padding: 8px 32px;	
}
a.btn-2 {
	padding: 8px 16px;
	border: $border-size solid $corporative-color-1;
	border-radius: $radius;
	color: $text;
	background-color: transparent;
	font-size: $fsize-p-xsm;
	transition: all .3s ease;
	display: inline-block;
	margin-top: 16px;
}
a.btn-2:hover {
	border: $border-size solid $corporative-color-1-light;
	background: $corporative-color-1;
	color: #FAFAFA;
	transition: all .3s ease;
	padding: 8px 32px;	
}
h1, h2, h3, h4, h5 {
	font-weight: $title-weight;
	line-height: $title-line-height;
	strong, b {
		font-weight: $title-weight-strong;
		color: $text;
	}
}
h1 {
	font-size: $fsize-h1-xsm;
}
h2 {
	font-size: $fsize-h2-xsm;
}
h3 {
	font-size: $fsize-h3-xsm;
}
h4 {
	font-size: $fsize-h4-xsm;
}
h5 {
	font-size: $fsize-h5-xsm;
}
p {
	font-size: $fsize-p-xsm;
	font-weight: $text-weight;
	line-height: $text-line-height;
}
section, .content-basic-page-text {
	margin-top: $margin-sections-xsm;
	margin-bottom: $margin-sections-xsm;
}
.owl-carousel {
	.owl-nav {
		button.owl-prev, button.owl-next {
			background: $box-background-light;
			width: 42px;
			height: 42px;
			border-radius: $radius-circle;
			border: $box-borders;
			font-size: 18px;
			transition: 0.3s ease all;
			color: $corporative-color-1;
		}
		button.owl-prev:hover, button.owl-next:hover {
			background: $box-background-dark;
		}
	}
}
//////////////
// MENSAJES //
/////////////
.mensaje { padding: 15px 20px 15px 35px; word-wrap: break-word; border: 1px solid; border-width: 1px 1px 1px 0;  border-radius: 2px;  background: no-repeat 10px 17px;  overflow-wrap: break-word;
	&.status { color: #325e1c; border-color: #c9e1bd #c9e1bd #c9e1bd transparent; background-color: #f3faef; background-image: url(/core/misc/icons/73b355/check.svg); box-shadow: -8px 0 0 #77b259; }
	&.error {  color: #a51b00; border-color: #f9c9bf #f9c9bf #f9c9bf transparent; background-color: #fcf4f2; background-image: url(/core/misc/icons/73b355/error.svg); box-shadow: -8px 0 0 #e62600; }
	&.warning { color: #734c00; border-color: #f4daa6 #f4daa6 #f4daa6 transparent; background-color: #fdf8ed; background-image: url(/core/misc/icons/73b355/warning.svg); box-shadow: -8px 0 0 #e09600;}
}

/////////////////
// BREADCRUMB //
///////////////

///////////
// LOGIN //
//////////


@media (min-width: $sm) {
	h1 {
		font-size: $fsize-h1-sm;
	}
	h2 {
		font-size: $fsize-h2-sm;
	}
	h3 {
		font-size: $fsize-h3-sm;
	}
	h4 {
		font-size: $fsize-h4-sm;
	}
	h5 {
		font-size: $fsize-h5-sm;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-sm;
	}
	section {
		margin-top: $margin-sections-sm;
		margin-bottom: $margin-sections-sm;
	}
}
@media (min-width: $md) {
	h1 {
		font-size: $fsize-h1-md;
	}
	h2 {
		font-size: $fsize-h2-md;
	}
	h3 {
		font-size: $fsize-h3-md;
	}
	h4 {
		font-size: $fsize-h4-md;
	}
	h5 {
		font-size: $fsize-h5-md;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-md;
	}
	section {
		margin-top: $margin-sections-md;
		margin-bottom: $margin-sections-md;
	}
}
@media (min-width: $lg) {
	h1 {
		font-size: $fsize-h1-lg;
	}
	h2 {
		font-size: $fsize-h2-lg;
	}
	h3 {
		font-size: $fsize-h3-lg;
	}
	h4 {
		font-size: $fsize-h4-lg;
	}
	h5 {
		font-size: $fsize-h5-lg;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-lg;
	}
	section {
		margin-top: $margin-sections-lg;
		margin-bottom: $margin-sections-lg;
	}
}
@media (min-width: $xl) {
	h1 {
		font-size: $fsize-h1-xl;
	}
	h2 {
		font-size: $fsize-h2-xl;
	}
	h3 {
		font-size: $fsize-h3-xl;
	}
	h4 {
		font-size: $fsize-h4-xl;
	}
	h5 {
		font-size: $fsize-h5-xl;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-xl;
	}
	section {
		margin-top: $margin-sections-xl;
		margin-bottom: $margin-sections-xl;
	}
}
@media (min-width: $xxl) {
	h1 {
		font-size: $fsize-h1-xxl;
	}
	h2 {
		font-size: $fsize-h2-xxl;
	}
	h3 {
		font-size: $fsize-h3-xxl;
	}
	h4 {
		font-size: $fsize-h4-xxl;
	}
	h5 {
		font-size: $fsize-h5-xxl;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-xxl;
	}
	section {
		margin-top: $margin-sections-xxl;
		margin-bottom: $margin-sections-xxl;
	}
}
@media (min-width: $xxxl) {
	h1 {
		font-size: $fsize-h1-xxxl;
	}
	h2 {
		font-size: $fsize-h2-xxxl;
	}
	h3 {
		font-size: $fsize-h3-xxxl;
	}
	h4 {
		font-size: $fsize-h4-xxxl;
	}
	h5 {
		font-size: $fsize-h5-xxxl;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-xxxl;
	}
	section {
		margin-top: $margin-sections-xxxl;
		margin-bottom: $margin-sections-xxxl;
	}
}
@media (min-width: $fhd) {
	h1 {
		font-size: $fsize-h1-fhd;
	}
	h2 {
		font-size: $fsize-h2-fhd;
	}
	h3 {
		font-size: $fsize-h3-fhd;
	}
	h4 {
		font-size: $fsize-h4-fhd;
	}
	h5 {
		font-size: $fsize-h5-fhd;
	}
	p, a.btn, a.btn-2 {
		font-size: $fsize-p-fhd;
	}
	section {
		margin-top: $margin-sections-fhd;
		margin-bottom: $margin-sections-fhd;
	}
}